server:
  port: 8085

spring:
  application:
    name: faas-service
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: faas-service
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      missing-topics-fatal: false

---
spring:
  config:
    activate:
      on-profile: docker
  kafka:
    bootstrap-servers: kafka:29092