version: '3.8'

services:

  # Nginx Load Balancer
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./Tutorial/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api-gateway
    networks:
      - microservices-network
    restart: on-failure

  # RabbitMQ Message Broker
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP port
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network

  # PostgreSQL Database (shared by both services)
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - microservices-network
    healthcheck:
      test: echo ruok #| nc localhost 2181 | grep imok
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      zookeeper:
        condition: service_healthy
    networks:
      - microservices-network
    healthcheck:
      test: kafka-broker-api-versions --bootstrap-server localhost:9092
      interval: 10s
      timeout: 10s
      retries: 5

  notification-service:
    build:
      context: ./Tutorial/NotificationService
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "8084:8084"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - microservices-network
    restart: on-failure

  # Auth Service
  auth-service:
    build:
      context: ./Tutorial/AuthService
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/orders_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_PROFILES_ACTIVE: docker
      JWT_SECRET: "b646c7edd9d62bcb104a4bee9c8184f5"
      JWT_EXPIRATION: 86400000
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - microservices-network
    restart: on-failure

  # API Gateway
  api-gateway:
    build:
      context: ./Tutorial/ApiGateway
      dockerfile: Dockerfile
#    container_name: api-gateway
    expose:
      - "8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      AUTH_SERVICE_URL: http://auth-service:8083
      ORDER_SERVICE_URL: http://order-service:8081
      PROCESSING_SERVICE_URL: http://processing-service:8082
      SERVER_PORT: 8080
    depends_on:
      - auth-service
      - order-service
      - processing-service
    networks:
      - microservices-network
    restart: on-failure
    deploy:
        mode: replicated
        replicas: 3  # Start 3 instances by default

  # Order Service (Producer)
  order-service:
    build:
      context: ./Tutorial/OrderService
      dockerfile: Dockerfile
    container_name: order-service
    ports:
      - "8081:8081"
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-network
    restart: on-failure


  # Processing Service (Consumer)
  processing-service:
    build:
      context: ./Tutorial/ProcessingService
      dockerfile: Dockerfile
#    container_name: processing-service
    expose:
      - "8082:8082"
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/orders_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_PROFILES_ACTIVE: docker
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      AWS_REGION: eu-north-1
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    networks:
      - microservices-network
    restart: on-failure
    deploy:
      mode: replicated
      replicas: 1  # Start 3 instances by default

  faas-service:
    build:
      context: ./Tutorial/FaasService
      dockerfile: Dockerfile
    container_name: faas-service
    ports:
      - "8085:8085"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    depends_on:
        kafka:
            condition: service_healthy
    networks:
      - microservices-network
    restart: on-failure
  frontend:
    build:
      context: ./FrontEnd/ordersFE/mf-orders
      dockerfile: Dockerfile
    ports:
      - "4200:4200" # shell
      - "4201:4201" # auth remote (likely)
      - "4202:4202" # orders_form remote (likely)
      - "4203:4203" # orders_list remote (likely)
    environment:
      # If you need this for your API_BASE_URL provider logic (optional)
      - API_BASE_URL=http://api-gateway
    depends_on:
       - api-gateway
networks:
  microservices-network:
    driver: bridge

volumes:
  postgres-data: