spring:
 application:
   name: processing-service
 rabbitmq:
   host: ${SPRING_RABBITMQ_HOST:rabbitmq}
   port: ${SPRING_RABBITMQ_PORT:5672}
   username: ${SPRING_RABBITMQ_USERNAME:guest}
   password: ${SPRING_RABBITMQ_PASSWORD:guest}
   listener:
     simple:
       acknowledge-mode: manual
       prefetch: 1
 datasource:
   url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/orders_db}
   username: ${SPRING_DATASOURCE_USERNAME:postgres}
   password: ${SPRING_DATASOURCE_PASSWORD:postgres}
 jpa:
   hibernate:
     ddl-auto: update
   show-sql: true
   properties:
     hibernate:
       dialect: org.hibernate.dialect.PostgreSQLDialect
 kafka:
   bootstrap-servers: kafka:29092
   producer:
     key-serializer: org.apache.kafka.common.serialization.StringSerializer
     value-serializer: org.apache.kafka.common.serialization.StringSerializer

server:
 port: 8082

rabbitmq:
 exchange: orders.exchange
 queue: orders.processing
 routing-key: order.created

logging:
 level:
   com.example: DEBUG
   org.springframework.amqp: DEBUG